{% extends "layout.html" %}

{% block content %}

<style>
    form input, form button {
        width: 100%;
        box-sizing: border-box; /* Ensures padding doesn't add to the width */
    }
</style>

<div class="grid" style="justify-content: center; margin-top: 3rem;">
    <div style="width: 100%; max-width: 450px;">
        <article>
            <h2 style="text-align: center;">Sign In</h2>

            <form method="POST" action="" novalidate>
                {{ form.hidden_tag() }} <label for="{{ form.username.id }}">
                    {{ form.username.label }}
                    {{ form.username(autofocus=true) }}
                    {% for error in form.username.errors %}
                        <small style="color: var(--pico-del-color);">{{ error }}</small>
                    {% endfor %}
                </label>

                <label for="{{ form.password.id }}">
                    {{ form.password.label }}
                    {{ form.password() }}
                    {% for error in form.password.errors %}
                        <small style="color: var(--p-del-color);">{{ error }}</small>
                    {% endfor %}
                </label>

                <label for="{{ form.remember_me.id }}">
                    {{ form.remember_me() }}
                    {{ form.remember_me.label }}
                </label>

                {{ form.submit(class_="contrast") }}
            </form>
            <p style="text-align: center; margin-top: 1rem;">
                <small>New User? <a href="{{ url_for('main.register') }}">Create an Account</a></small>
            </p>
        </article>
    </div>
</div>
{% endblock %}
